{% extends "base_site.html" %}
{% load paginate %}

{% block title %}《{{ name }}》免费在线阅读-{{ block.super }}{% endblock %}
{% block keywords %}{{ name}},{{ block.super }}{% endblock %}

{% block content %}
<div class="main">
  {% include "tags/feature_book.html" %} 
  <div id="newscontent">
    <div class="l">
      <h2>{{ name }}小说列表</h2>
      <ul>
        <li><span class="s2">书名</span><span class="s2">作者</span><span class="s2">更新时间</span><span class="s2">状态</span></li>
        {% for object in object_list %}
        <li>
          <span class="s2"><a href="{% url show-intro object.id %}" target="_blank">《{{ object.name }}》</a></span>
          <span class="s2">{{ object.author }}</span>
          <span class="s2">{{ object.update_date|date:"Y-m-d" }}</span>
          <span class="s2">{% if object.status %}完结{% else %}连载{% endif %}</span>
        </li>
        {% endfor %}
      </ul>
      {% paginate_category request paginator %}
    </div>
    <div class="r">
      <h2>热度{{ name }}小说列表</h2>
      <ul>
        {% for object in hot_list %}
        <li><span class="s2"><a href="{% url show-intro object.id %}" target="_blank">{{ object.book__name }}</a></span><span class="s5">{{ object.book__author }}</span></li>
        {% endfor %}
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>
{% endblock %}
