{% extends "base_site.html" %}

{% block title %}《{{ object.book__name }}》免费在线阅读-{{ block.super }}{% endblock %}
{% block keywords %}{{ object.book__name}},{{ object.name }},{{ block.super }}{% endblock %}
{% block description %}《{{ object.book__name}}》，{{ object.name }}{% endblock %}

{% block content %}
<div class="book-con">
  <div class="main">
    <div class="box_con">
      <div class="con_top">
        <a href="/">40页小说</a> &gt; <a href="{% url show-category pk=object.book__category__id %}">{{ object.book__category__name }}小说</a>&gt; <a href="{% url show-content object.book__id %}">{{ object.book__name }}全文阅读</a>&gt; {{ object.name  }}
      </div>
      <div class="bottem1 clearfix">
        <div id="page_set">
          <button class="btn btn-warning btn-full" data-action="full-screen">全屏模式</button>
          <select name="select-font-size" data-action="fontSize">
            <option value="12px">超小文字</option>
            <option value="14px">小文字</option>
            <option value="16px" selected>默认文字</option>
            <option value="18px">大文字</option>
            <option value="20px">超大文字</option>
          </select>
          <select name="select-theme" data-action="theme">
            <option value="default" selected>默认主题</option>
            <option value="ubuntu-theme">ubnutu</option>
          </select>
        </div>
        <div class="paginate">
          <a href="{% url show-content object.book__id %}" title="{{ object.book__name }}">目录</a>
  {% if has_previous %} <a href="{% url show-detail partition previous_to %}">上一章</a> {% endif %}
          {% if has_next %} <a href="{% url show-detail partition next_to %}">下一章</a> {% endif %} 
        </div>
      </div>
      <div class="divide"></div>

      <h1>{{ object.name }}</h1>
      <p class="main-text"> {% include object.content %} </p>

      <div class="divide"></div>
      <div class="bottem2 paginate">
        {% if has_previous %} <a href="{% url show-detail partition previous_to %}">上一章</a> {% endif %}
        <a href="{% url show-content object.book__id %}" title="{{ object.book__name }}">目录</a>
        {% if has_next %} <a href="{% url show-detail partition next_to %}">下一章</a> {% endif %}
      </div>

    </div>
  </div>
</div>

<div class="main">
  <div class="box_con">
    <div class="lm">热门推荐：
      {% for item in recom_list %}
      <a target="_blank" href="{% url show-content item.id %}"><b>{{ item.name }}</b>{% if item.status %}（完）{% endif %}</a>{% if not forloop.last %}、{% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/read_book.js"></script>
  
{% endblock %}

