{% extends "base_site.html" %}

{% block keywords %}{{object.book__name}}，{{ object.name }}{% endblock %}
{% block description %}{{ object.name }}， {{ object.book__name }}最新章节，尽在40页小说网 {% endblock %}
{% block title %}{{ object.name}}，{{ object.book__name}}，{{ object.book__category__name}}小说， 40页小说网 {% endblock %}

{% block content %}
<div class="content_read">
	<div class="box_con">
		<div class="con_top">
			<div id="page_set"></div>
			<a href="http://{{ domain }}/">40页小说</a> &gt; <a href="http://{{ domain }}{% url show-category pk=object.book__category__id %}">{{ object.book__category__name }}小说</a>&gt; <a href="http://{{ domain}}{% url show-content object.book__id %}">{{ object.book__name }}全文阅读</a>&gt; {{ object.name  }}
		</div>
		<div class="bookname">
			<h1>{{ object.name }}</h1>
			<div class="bottem1">
				{% if has_previous %}
				<a href="http://{{ domain }}{% url show-detail partition previous_to %}">上一章</a>
				{% endif %}
				&nbsp;&nbsp;<a href="{% url show-content object.book__id %}" title="{{ object.book__name }}">目录</a>&nbsp;&nbsp;{% if has_next %}<a href="http://{{ domain }}{% url show-detail partition next_to %}">下一章</a>{% endif %} 
			</div>
			<div class="lm">&nbsp;热门推荐：
		{% for item in recom_list %}
		<a target="_blank" href="http://{{ domain}}{% url show-content item.id %}"><b>{{ item.name }}</b>{% if item.status %}（完）{% endif %}</a>{% if not forloop.last %}、{% endif %}
		{% endfor %}
			</div>
		</div>
		<div id="content">{% include object.content %}</div>
		<div class="bottem2">
			{% if has_previous %}
			<a href="http://{{ domain }}{% url show-detail partition previous_to %}">上一章</a>
			{% endif %}
			&nbsp;&nbsp;<a href="{% url show-content object.book__id %}" title="{{ object.book__name }}">目录</a>&nbsp;&nbsp;{% if has_next %}<a href="http://{{ domain }}{% url show-detail partition next_to %}">下一章</a>{% endif %} 
		</div>
	</div>
</div>
{% endblock %}
