<div class="ywtop">
<div class="ywtop_con">
        <div class="ywtop_addfavorite"><a href="javascript:window.external.addFavorite('http://www.40ye.com','40页_书友最值得收藏的网络小说阅读网')">收藏40页小说网</a></div>
        <div class="nri">
            <form name="frmlogin" id="frmlogin" method="post" action=".">{% csrf_token %}
                <div class="cc">
                    <div class="txt">账号：</div>
                    <div class="inp">
                        <input name="username" id="username" type="text">
                    </div>
                </div>
                <div class="cc">
                    <div class="txt">密码：</div>
                    <div class="inp">
                        <input name="password" id="password" type="password">
                    </div>
                </div>
                <div class="frii">
                    <input class="int" value=" " type="submit">
                </div>
                <div class="ccc">
                    <div class="txtt">
                        <a href=".">忘记密码</a>
                    </div>
                    <div class="txtt">
                        <a href=".">用户注册</a>
                    </div>
                </div>
            </form>
        </div>
</div>
</div>
