{% load book_filters %}

<div class="con clearfix">
  {% for object in feature_list %}
  <div class="item">
    <div class="i-con recom">
      <div class="image"><a href="{% url show-content object.book__id %}"><img src="{% if object.book__cover %}{{ MEDIA_URL }}{{ object.book__cover }}{% else %}{{ STATIC_URL}}images/dft.png{% endif %}" alt="{{ object.book__name }}" height="125" width="100"></a>
      </div>
      <div class="i-desc">
        <dl>
          <dt>
            <p class="i-name"><a href="{% url show-content object.book__id %}" {% if object.book__name|length > 8 %}title="{{ object.book__name }}"{% endif %}>{{ object.book__name|truncatechars:9 }}</a></p>
          </dt>
          <dd class="divide"></dd>
          <dd class="txt">
            <span class="i-author">{{ object.book__author }}：</span>
            {{ object.book__intro|cut:"<br/>"|cut:"<br>"|cut:"※"|truncatechars:65 }}<p class="i-detail"></p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
