<div class="footer">
	<div class="footer_link"></div>
	<div class="footer_cont">
		<p>40页小说网所有小说均由网友收集整理，纯属个人爱好，转载至本站只是为了宣传本书让更多读者欣赏, 作品版权均为原版权人所有。</p>
		<p>如果版权所有人认为在本站放置您的作品有损您的利益，请指出，40页小说网在确认后会立即删除。</p>
		<p>Copyright &copy; 2013 www.40ye.com 40页小说网 All Rights Reserved.</p>
		<p>京ICP备13038887号</p>
		<p><strong><a href="http://www.40ye.com">40ye小说网</a> <a href="http://www.40ye.com">免费小说</a> <a href="http://www.40ye.com">免费小说阅读网</a></strong></p>
		{% if book %}
		<p><strong><a href="{% url show-content book.id %}">{{ book.name }}最新章节</a></strong></p>
		{% endif %}
	</div>
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000063387'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000063387' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
