<div class="header">
	<div class="header_logo">
		<a href="http://www.biquge.com/">??Ȥ??</a>
	</div>
	<div class="header_search">
		<form name="form" action="http://www.biquge.com/modules/article/search.php" id="sform" target="_blank"><input autocomplete="off" value="?????????????ߣ?????????Ҳ???????֡?" name="searchkey" class="search" id="wd" baidusug="2" type="text"><button id="sss" type="submit"> ?? ?? </button></form>
	</div>
	<div class="userpanel">&nbsp;
		<font color="red">???ԣ?</font>
		<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=biqugecom@%67%6D%61%69%6C%2E%63%6F%6D">ͨ???ʼ?</a>??
		<a href="http://www.biquge.com/newmessage.php?tosys=1">վ?ڶ???</a><br><a target="_blank" href="http://www.biquge.com/ziti.html"><b>ԭͼƬ??</b></a>&nbsp;&nbsp;
		<a target="_blank" href="http://www.biquge.com/jifen.html">???ֹ???</a>&nbsp;&nbsp;<a target="_blank" href="http://www.biquge.com/dns.html">????????????վ</a></div>
</div>
