<div class="header">
	<div class="header_logo">
		<a href="http://www.40ye.com/"></a>
	</div>
    {% comment %}
	<div class="header_search">
		<form name="form" action="http://{{ domain }}" id="sform" target="_blank">
		<input autocomplete="off" value="" name="keyword" class="search" id="wd" baidusug="2" type="text">
		<button id="sss" type="submit">搜索</button>
		</form>
	</div>
	<div class="userpanel">&nbsp;
		<font color="red"></font>
		<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=40yecom@%67%6D%61%69%6C%2E%63%6F%6D"> </a>
		<a href="http://www.40ye.com/newmessage.php?tosys=1"></a><br><a target="_blank" href="http://www.40ye.com/ziti.html"><b></b></a>&nbsp;&nbsp;
		<a target="_blank" href="http://www.40ye.com/jifen.html"></a>&nbsp;&nbsp;<a target="_blank" href="http://www.40ye.com/dns.html"></a></div>
	{% endcomment %}
</div>
