<div class="nav">
	<ul>
		<li><a href="http://{{ domain }}/">首页</a></li>
		<li><a href="http://{{ domain }}/book/01/">玄幻小说</a></li>
		<li><a href="http://{{ domain }}/book/02/">武侠小说</a></li>
		<li><a href="http://{{ domain }}/book/03/">都市小说</a></li>
		<li><a href="http://{{ domain }}/book/04/">言情小说</a></li>
		<li><a href="http://{{ domain }}/book/05/">穿越小说</a></li>
		<li><a href="http://{{ domain }}/book/06/">网游小说</a></li>
		<li><a href="http://{{ domain }}/book/07/">惊恐小说</a></li>
		<li><a href="http://{{ domain }}/book/08/">科幻小说</a></li>
		<li><a href="http://{{ domain }}/book/09/">其它小说</a></li>
	</ul>
</div>
