<div class="nav">
	<ul>
		<li><a href="http://www.biquge.com/">??ҳ</a></li>
		<li><a href="http://www.biquge.com/modules/article/bookcase.php">?ҵ?????</a></li>
		<li><a href="http://www.biquge.com/xuanhuanxiaoshuo/">????С˵</a></li>
		<li><a href="http://www.biquge.com/xiuzhenxiaoshuo/">????С˵</a></li>
		<li><a href="http://www.biquge.com/dushixiaoshuo/">????С˵</a></li>
		<li><a href="http://www.biquge.com/chuanyuexiaoshuo/">??ԽС˵</a></li>
		<li><a href="http://www.biquge.com/wangyouxiaoshuo/">????С˵</a></li>
		<li><a href="http://www.biquge.com/kehuanxiaoshuo/">?ƻ?С˵</a></li>
		<li><a href="http://www.biquge.com/paihangbang/">???а???</a></li>
		<li><a href="http://www.biquge.com/xiaoshuodaquan/">ȫ??С˵</a></li>
	</ul>
</div>
