<div class="nav">
  <div class="nav-wrap">
    <ul class="clearfix">
      <li><a href="/">首页</a></li>
      <li><a href="/book/01/">玄幻小说</a></li>
      <li><a href="/book/02/">武侠小说</a></li>
      <li><a href="/book/03/">都市小说</a></li>
      <li><a href="/book/04/">言情小说</a></li>
      <li><a href="/book/05/">穿越小说</a></li>
      <li><a href="/book/06/">网游小说</a></li>
      <li><a href="/book/07/">惊恐小说</a></li>
      <li><a href="/book/08/">科幻小说</a></li>
      <li><a href="/book/09/">其它小说</a></li>
    </ul>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
  </div>
</div>
<div class="nav-collapse">
  <ul class="clearfix">
    <li class="active"><a href="/">首页</a></li>
    <li><a href="/book/01/">玄幻小说</a></li>
    <li><a href="/book/02/">武侠小说</a></li>
    <li><a href="/book/03/">都市小说</a></li>
    <li><a href="/book/04/">言情小说</a></li>
    <li><a href="/book/05/">穿越小说</a></li>
    <li><a href="/book/06/">网游小说</a></li>
    <li><a href="/book/07/">惊恐小说</a></li>
    <li><a href="/book/08/">科幻小说</a></li>
    <li><a href="/book/09/">其它小说</a></li>
  </ul>
</div>
