<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}40页免费小说网{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}网络小说,免费小说,免费在线小说,最全小说网,武侠小说,玄幻小说,都市小说,言情小说,网游小说,悬疑小说,恐怖小说,关注阅读体验,小说搜索,40页小说网{% endblock %}">
    <meta name="description" content="{% block description %}40页小说网是一个关注阅读体验的免费在线小说阅读网站。40页小说网是提供完结小说，玄幻小说，都市小说，穿越小说，言情小说，武侠小说，网游小说等免费小说阅读的免费小说阅读网站。{% endblock %}">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/40ye.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL}}vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL}}css/40ye.css">
    <link rel="stylesheet" href="{{ STATIC_URL}}css/style.css">
        <!--[if lt IE 9]>
            <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
    <!-- Google Analysis -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45925332-1', '40ye.com');
      ga('send', 'pageview');
    </script>
    <!-- END Google Analysis -->
  </head>
  <body>
    <div id="wrapper">
      {% block beam %}{% endblock %}
      {% block header %}{% endblock %}
      {% block nav %} {% endblock %}
      {% block content %} {% endblock %}
    </div>
    {% block footer %}
    {% include "tags/footer.html" %}
    {% endblock %}

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery_ease.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/index.js"></script>
    <script type="text/javascript">
    $(function() {
      var path = window.location.pathname;
      var $navLiA = $('.nav-wrap ul>li>a, .nav-collapse ul>li>a');
      $navLiA.each(function(iter, elem){
        if ( $(elem).attr('href') === path ) {
          $(elem).parent('li').addClass('active');
        }
      });
    });
    </script>
    {% block script %}
    {% endblock %}
    <!-- BaiDu Statistics -->
    <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F269061a022fe3f78438425ceb3f72990' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <!-- END BaiDu Statistics -->
  </body>
</html>
