<!DOCTYPE html>
<html>
	<head>
		<title>{# 42亿小说网，免费小说，免费玄幻小说，免费武侠小说，免费言情小说，免费都市小说，免费穿越小说，免费网游小说 #}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/biquge.css">
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bdsstyle.css">
	</head>
	<body>
		<div id="wrapper">
			{% block beam %}{% endblock %}
			{% block header %}{% endblock %}
			{% block nav %} {% endblock %}
			{% block content %} {% endblock %}
		</div>
	</body>
</html>
