<!DOCTYPE html>
<html>
	<head>
		<title>??Ȥ??_??????ֵ???ղص?????С˵?Ķ???</title>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}biquge.css">
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}bdsstyle.css">
	</head>
	<body>
		<div id="wrapper">
			{% block beam %}{% endblock %}
			{% block header %}{% endblock %}
			{% block nav %} {% endblock %}
			{% block content %} {% endblock %}
		</div>
	</body>
</html>
