{% extends "base_site.html" %}
{% load book_filters %}
{% load book_tags %}
{% load paginate %}

{% block content %}
<div class="main">
  {% include "tags/feature_book.html" %} 
</div>
<div class="divide" style="margin-top: 10px;"></div>
<div class="main">
  <div class="novelslist con clearfix">
    {% list_render magic_books "玄幻小说" 1 %}
    {% list_render sord_books "武侠小说" 2 %}
    {% list_render dushi_books "都市小说" 3 %}
  </div>
  <div class="novelslist con clearfix">
    {% list_render lover_books "言情小说" 4 %}
    {% list_render time_travel_books "穿越小说" 5 %}
    {% list_render game_books "网游小说" 6 %}
  </div>
  <div class="novelslist con clearfix">
    {% list_render mnst_books "惊恐小说" 7 %}
    {% list_render scnc_books "科幻小说" 8 %}
    {% list_render other_books "其它小说" 9 %}
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}
