{% extends "base_site.html" %}

{% block content %}
<div id="main">
	<div id="hotcontent">
		{% include "tags/feature_book.html" %} 
		<div class="clear"></div>
	</div>
	<div class="novelslist">
		{% for object in object_list %}
		<div class="content">
			<h2>{{ object.name }}</h2>
			<div class="top">
				<div class="image"><img src="{{ MEDIA_URL }}{{ object.cover }}" alt="{{ object.name }}" height="82" width="67"></div>
				<dl><dt><a href="{% url show-detail object.pk %}">{{ object.name }}</a></dt><dd>{{ object.intro }}</dd></dl>
				<div class="clear"></div>
			</div>
			<ul>
				{% for fb in feature_list %}
				<li><a href="{% url show-detail object.pk %}">{{ fb.name }}</a>{{ fb.book__author }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="clear"></div>
		{% endfor %}
	</div>
	<div class="novelslist">
		{% for object in object_list %}
		<div class="content border">
			<h2>{{ object.name }}</h2>
			<div class="top">
				<div class="image"><img src="{{ MEDIA_URL }}{{ object.cover }}" alt="" height="82" width="67"></div>
				<dl><dt><a href="{% url show_detail object.pk %}">{{ object.name }}</a></dt><dd>{{ object.intro }}</dd></dl>
				<div class="clear"></div>
			</div>
			<ul>
				<li><a href="http://www.biquge.com/0_483/"></a></li>
			</ul>
		 </div>
		<div class="clear"></div>
		{% endfor %}
	</div>
	<div id="newscontent">
		<div class="l">
			<h2></h2>
			<ul>
				<li><span class="s1"></span><span class="s2"><a href="http://www.biquge.com/4_4594/" target="_blank"></a></span><span class="s3"><a href="http://www.biquge.com/4_4594/1317520.html" target="_blank"></a></span><span class="s4"></span><span class="s5"></span></li>
			</ul>
		</div>
		<div class="r">
			<h2></h2>
			<ul>
			<li><span class="s1"></span><span class="s2"><a href="http://www.biquge.com/5_5199/"></a></span><span class="s5"></span></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}
